<!doctype html>
<html lang="fa">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>لیست سفارشات</title>
    <style>
        .header-image {
          position: relative;
          text-align: center;
          color: white;
          margin-bottom: 40px;
        }
        .centered-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
        }
        .headerimag{
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
        }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="direction: rtl;">
      <a class="navbar-brand" href="/">کتاب بان</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav"
        <li class="nav-item" style="margin-left: 20px">
          <a class="nav-link" href="#">خانه</a>
        </li>
          <li class="nav-item" style="margin-left: 20px">
            <a class="nav-link" href="#">افزودن کتاب</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-image">
        <img src="{{ header.image.url }}" class="img-fluid w-100 headerimag" style="height: 200px; object-fit: cover;" alt="عکس هدر">
        <div class="centered-text" style="font: bold; font-size: xx-large;">لیست سفارشات</div>
    </div>
    <div class="row">
        {% for order in orders %}
            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100" style="text-align: right;">
                <h4 class="card-title">قرض گیرنده : {{ order.user }}</h4>
                <h6 class="card-title">نام کتاب : {{ order.book }}</h6>
                <h6 class="card-title">تا تاریخ : {{ order.time }}</h6>
                </div>
            </div>
            </div>
        {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
